:root {
  --padding: 16px;
  --primary-color: #c00;
  --secondary-color: #06b3d6;
  --grey-color: #f5f5f5;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.app {
  max-width: 768px;
  margin: 50px auto;
  border-radius: 16px;
  overflow: hidden;
  background: var(--primary-color);
  display: grid;
  grid-template-rows: 50px calc(100vh - 100px - var(--padding) * 2);
}

.container {
  display: grid;
  grid-template-columns: 250px auto;
}

.header {
  display: flex;
  align-items: center;
  padding-left: var(--padding);
  font-weight: bold;
  width: 100%;
  height: 50px;
  background: var(--primary-color);
  color: white;
  font-size: 1.5rem;
}

h1 {
  font-size: 1.3rem;
  margin: 0 var(--padding) 0 0;
  display: inline-block;
}

h2 {
  font-size: 1.2rem;
}

.pokemon-photo {
  width: 250px;
}

.pokemon-photo > img {
  width: 100%;
}

@keyframes list-slide-in {
  from {
    transform: translateY(100%);
  }

  to {
    transform: none;
  }
}

.pokemon-list {
  color: white;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #b20000;
  animation: list-slide-in 0.6s cubic-bezier(1, 0, 0, 1) forwards;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pokemon-list li {
  padding: var(--padding);
  cursor: pointer;
}

.pokemon-list li:hover {
  background: rgba(255, 255, 255, 0.1);
}

.pokemon-detail {
  padding: var(--padding);
  background: white;
  width: calc(100% - var(--padding));
  height: calc(100% - 1px);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 3px;
}

.pokemon-info {
  display: grid;
  grid-template-columns: 250px auto;
  align-items: center;
}

.pokemon-properties {
  width: 100%;
}

.pokemon-properties .info + .info {
  margin-top: calc(var(--padding) * 2);
}

.pokemon-properties .title {
  font-weight: bold;
}

.pokemon-types {
  width: 100%;
}

.pokemon-types__type {
  padding: calc(var(--padding) / 4);
  background: #9dd1f1;
  border-radius: 2px;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: bold;
}

.pokemon-types__type + .pokemon-types__type {
  margin-left: calc(var(--padding) / 4);
}

.pokemon-moves__content {
  display: grid;
  grid-template-columns: 200px auto;
}

.pokemon-moves__details {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
}

.pokemon-moves__list {
  margin-right: var(--padding);
}

.pokemon-move {
  padding: calc(var(--padding) / 2);
  background: var(--grey-color);
  border-radius: 2px;
  cursor: pointer;
}

.pokemon-moves__list li:not(:last-child) {
  margin-bottom: calc(var(--padding) / 2);
}
.pokemon-stats__stat-container {
  position: relative;
  width: 200px;
}
.pokemon-stats > ul > li:not(:last-child) {
  margin-bottom: var(--padding);
}
.pokemon-stats__stat {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
}
.pokemon-stats__stat-value {
  position: absolute;
  right: calc(var(--padding) / 2);
  top: 3px;
  color: var(--secondary-color);
  font-size: 0.75rem;
  font-weight: bold;
}
.pokemon-stats__stat::-webkit-progress-bar {
  height: 16px;
  border-radius: 2px;
  background: var(--grey-color);
}

@keyframes fill-stat {
  from {
    transform: scaleX(0);
  }
  to {
    transform: none;
  }
}

.pokemon-stats__stat::-webkit-progress-value {
  background: var(--secondary-color);
  transform-origin: left;
  animation: fill-stat 0.6s ease forwards;
}

.pokemon-move-info:not(:last-child) {
  margin-bottom: calc(var(--padding) / 2);
}
.pokemon-move-info__key {
  font-weight: bold;
}

.pokemon-move_active {
  background-color: var(--secondary-color);
  color: white;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner {
  position: relative;
  width: 50px;
  height: 50px;
  border: 3px solid black;
  border-radius: 50%;
  overflow: hidden;
  background: white;
  animation: spin 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.spinner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: red;
  border-bottom: 3px solid black;
}

.spinner::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 30%;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  border-radius: 50%;
  background: white;
  border: 3px solid black;
}
